
.barheaderC {
  
    width: 100%;
margin: 0;
padding: 0;
    background-color: #275491;

}
.barheader-Container{
    width: 95%;
     height: 40px; 

    display: flex;
 align-items: center; 
    justify-content: flex-end; 
 
}
.barheader :link{
    text-decoration: none ;

}
.iconCom {
    font-size: 18px;
    color: #e3d80a;

} 
.mocompte,.faq {
    margin: 0;
    /* padding: 5px; */
    color: #e3d80a;
    font-size: 16px;
    font-weight: 300;
font-family: Arial, Helvetica, sans-serif;
line-height: 32

;
cursor: pointer;
}
.faq{
      padding: 5px;
  
}
.mocompte:hover,.faq:hover {
    color: rgb(253, 201, 0)
    ;
   
}
.dropdown-menu {
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    z-index: 1000;
}

.selected:focus{
    background-color: rgb(253, 201, 0) !important; /* Changez la couleur de fond ici */
    color: white !important; /* Changez la couleur du texte si nécessaire */
    outline: none; /* Supprimez le contour par défaut */
}



