.Site-Footer {
  width: 100%; /* Adjust container width as needed */
margin: 0;
padding: 0;
  background-color: #fff;
}

.footer-container {
  width: 80%; /* Adjust container width as needed */
  margin: 60px auto;
  /* padding: 0 20px; */
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
  gap: 80px; /* Adjust gap between columns as needed */
}

.footer-column {
  text-align: start; /* Align content to start in each column */
}

.footer-column h3 {
  color: #000;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

.footer-column p {
  margin-bottom: 1rem;
  line-height: 1.7;

  font-size: 16px;
  color: gray;
  text-align: left;
}

.footer-list-unstyled {
  padding-left: 0;
  list-style: none;
}

/* .footer-list-unstyled  {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-inline-start: 40px;
} */

.footer-Pages ,.TounesConnect{
  text-decoration: none;
  color: rgb(227, 216, 10);
  cursor: pointer;
  line-height: 1.7;

  font-size: 16px;
}

.footer-contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-contact p {
  padding: 0 10px;
  color:rgb(227, 216, 10);
  font-weight: 500;
  cursor: pointer;

}

.footer-style-social {
  font-weight: 500;
  margin: 0 10px;
  color: rgb(227, 216, 10);
  cursor: pointer;

}

.footer-float-md-left h3 {
  width: 80%;
  margin: 6rem auto;
  line-height: 1.7;

  font-size: 16px;
  color: gray;
  text-align: left;
  display: block;
}

.footer-span {
  color: rgb(227, 216, 10);
  font-weight: 500;
  cursor: pointer;

}
