@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*section1*/
.ImagePlatforme {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
  }
  .ImagePlatforme h2{
font-size: 60px;
font-family: 'Rubik', Arial, sans-serif;
font-weight: 400;
line-height: 72px;
}
.container-Form{
  width: 100%;
  height: 400px;
}
.Form-Login {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -12%);
    background-color: #FFFFFF;
    padding:60px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  

  
  .Form-Login label {
    display: block;
    padding-bottom: 10px;
  }
  
  .Form-Login input[type="email"],
  .Form-Login input[type="password"] {
    width: 600px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Assurez-vous que la largeur inclut le padding et la bordure */
    transition: border-color 0.3s ease; /* Ajoutez une transition pour un effet visuel lors du focus */
  }
  
  .Form-Login input[type="email"]:focus,
  .Form-Login input[type="password"]:focus {
    border-color: #275491; /* Couleur de la bordure lorsqu'un champ est en focus */
  }
  
  
  .Form-Login button {
    width: 20%;
    padding: 10px;
    background-color: #FDC900;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .Form-Login button:hover {
border: solid 1px rgb(7, 7, 59);
background-color: transparent; 
color: black; }
  
  .Form-Login label.forgot-password {
    display: block;
    text-align: right;
  }
  
  
  .ImagePlatforme {
    margin-bottom: 20px; /* Ajoute une marge en bas de l'image */
  }
  
  .FormSection {
    margin-bottom: 40px; /* Ajoute une marge en bas du formulaire */
  }
  
  .NewsletterSection {
    margin-bottom: 30px; /* Ajoute une marge en bas de la section newsletter */
  }
  