@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.TitreLogin {
  width: 40%;
  font-size: 60px;
  color: white;
  margin: 0 auto;
  line-height: 72px;
  animation: fadeIn 1s ease-in-out; /* Ajouter l'animation */
}

/* Autres styles existants */
.ImagePlatformeLogin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.containerLogin {
  width: 100%;
  height: 500px;
}

.Form-Login {
  position: absolute;
  width: 45%; /* Ajuster la largeur à 100% */
  left: 50%;
  transform: translate(-50%, -5%);
  background-color: #FFFFFF;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.labelLogin {
  width: 100%;
  font-size: 16px;
  line-height: 32px;
  color: rgb(128, 128, 128);
}

.input-Login {
  width: 500px;
  height: 40px;
  border: 1px solid #ccc;
  color: #000;
  margin-bottom: 15px;
  font-size: 16px;
}

.input-Login:focus {
  outline-color: rgb(36, 233, 233);
  outline-style: solid;
  outline-width: 1.5px; /* Définir l'épaisseur de la bordure */
  outline-offset: 0;
}

.Connecter {
  width: 40%;
  padding: 10px;
  background-color: #FDC900;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Connecter:hover {
  color: #000;
  background: none;
  border: 2px solid #275491;
}

.ImagePlatforme {
  margin-bottom: 20px; /* Ajoute une marge en bas de l'image */
}

.FormSection {
  margin-bottom: 40px; /* Ajoute une marge en bas du formulaire */
}

.NewsletterSection {
  margin-bottom: 30px; /* Ajoute une marge en bas de la section newsletter */
}
@media (max-width: 992px) {
  .TitreLogin {
    font-size: 40px;
    line-height: 72px;
  }
  .input-Login {
    width: 350px;
    height: 40px;
    border: 1px solid #ccc;
    color: #000;
    margin-bottom: 15px;
    font-size: 16px;
  }
}