/*NavBar*/
.nav-link-coach {
  font-weight: 300;
  font-size: 18px;
color: rgb(43, 43, 43);
  line-height: 30px;
  padding: 18px 9px ;
border-color: #fff;

}
.nav-link-coach:hover {
  background-color:#275491;
  color: #fff;
}

.icon-LIST{

  font-size:40px;
  color:gray ;
  display: none;
}
.me-auto {
  padding-right: 70px;
}
.nav-link-coach {
  text-decoration: none;
  
}
