.newsletter{
  background-color: #275491;

  /* width: 100%; */
  margin: 0;
  padding: 0;
}
.newsletterContainer{
width: 80%;
display: flex;
justify-content: center;
align-items: center;
padding: 30px;
margin: 10px auto;
gap: 300PX;
}
.newsletterContainer h2 {
    color: #D3C418; /* Couleur du texte */
    margin: 0; /* Suppression des marges par défaut */
  }
  
  .newsletterContainer p {
    
    color: rgba(255, 255, 255, 0.7)    ; /* Couleur du texte */
    font-size: 20px;
    margin-bottom: 20px; /* Espacement inférieur */
    text-align: start;
  }
  

  .NewsleInput {
    padding: 10px; /* Espacement interne */
    border: none; /* Suppression de la bordure */
    border-radius: 5px; /* Bordures arrondies */
    width: 500px; /* Largeur de l'input - largeur du bouton + marge */
    background-color:#fff ;
  }
  
  .newsletterContainer .input-wrapper {
    position: relative; /* Position relative pour positionner le bouton */
  }
  
  .EnvoyerNewsletter  {
    width: 100px;
    padding: 5px; /* Espacement interne */
    background-color: #D3C418; /* Couleur de fond */
    color: #275491; /* Couleur du texte */
    border: none; /* Suppression de la bordure */
    border-radius: 7px; /* Bordures arrondies */
    cursor: pointer; /* Curseur pointer au survol */
    position: absolute; /* Position absolue pour positionner le bouton */
    right: 0; /* Alignement à droite */
    top: 0; /* Alignement au haut */
    margin: 7px 20px 0px 0px;
  }
  