.newsletter{
    background-color: #275491;
    width: 100%;
    display: flex;
    padding: 60PX;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.newsletter h2 {
    color: #D3C418; /* Couleur du texte */
    margin: 0; /* Suppression des marges par défaut */
  }
  
  .newsletter p {
    color: rgba(255, 255, 255, 0.7)    ; /* Couleur du texte */
    font-size: 20px;
    margin-bottom: 20px; /* Espacement inférieur */
    text-align: start;
  }
  

  .newsletter input[type="email"] {
    padding: 10px; /* Espacement interne */
    border: none; /* Suppression de la bordure */
    border-radius: 5px; /* Bordures arrondies */
    margin-right: 10px; /* Marge à droite */
    width: 500px; /* Largeur de l'input - largeur du bouton + marge */
    background-color:#fff ;
  }
  
  .newsletter .input-wrapper {
    position: relative; /* Position relative pour positionner le bouton */
  }
  
  .envoyer  {
    width: 100px;
    padding: 5px; /* Espacement interne */
    background-color: #D3C418; /* Couleur de fond */
    color: #275491; /* Couleur du texte */
    border: none; /* Suppression de la bordure */
    border-radius: 7px; /* Bordures arrondies */
    cursor: pointer; /* Curseur pointer au survol */
    position: absolute; /* Position absolue pour positionner le bouton */
    right: 0; /* Alignement à droite */
    top: 0; /* Alignement au haut */
    margin: 25px 20px 0px 0px;
  }
  