.navigation-arrows {
    width: 80%;
  
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px auto;
  }
  
  .left-Atelier {
    width: 40%;
    height: 100% !important;
    padding: 30px 50px 20px 20px ;
  
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  .right-Atelier {
    width: 70%;
    height: 100% !important;
    padding: 40px 30px ;
    margin:  0;
  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
  }
  

  
  .left-Atelier img {
    width: 250px;
    height: 150px;
    border-radius: 5px;
  }
  
  .left-Atelier h1 {
    font-size: 20px;
    margin-top: 10px;
    color: rgb(128, 128, 128);
    font-weight: 300;
    line-height: 24px;
    cursor: pointer;
  }
  
  .left-Atelier h2 {
    font-size: 16px;
    margin-top: 5px;
    font-weight: 300;
    line-height: 32px;
    color: rgb(128, 128, 128);
  }
  
  .right-Atelier {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  
  .right-Atelier form {
    display: flex;
    flex-direction: column;
  }
  
  .inputAtelier {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #535252;
    cursor: pointer;
  }
  .TextareaAtelier{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #535252;
  
    cursor: pointer;
  
  }
  .LabelAtelier{
    margin: 10px 0;
  }
 
  .BoutonAtelier{
  
    background-color: yellow;
    width: 150px;
    height: 50px;
    margin: 20px auto;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); 
    border-radius: 2%; 
    font-size: 20px;
    color: #000;
  
  }
  
  .inputAtelier:focus,
  .TextareaAtelier:focus
{
    outline-color: rgb(36, 233, 233);
    outline-style: solid; /* Set the outline style to solid */
    outline-offset: 0; /* Set the outline width to 1px */
  }
  

  
  

 
  
 
  
  
  
  
  
