/* biblio.css */
.biblioAccueil {
  width: 100%;
}

.ContainerBiblio {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  color: gray;
}

.titreBiblio {
  width: 80%;
  text-align: center;
  font-size: 45px;
  color: rgb(253, 201, 0);
  margin: 50px auto;
}

.site-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.flip-container {
  perspective: 1000px;
}

.flipper {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flipper.flipped {
  transform: rotateY(180deg);
  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.4);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.author {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.author-img {
  border: none;
  border-radius: 0 30%;
}

.name {
  margin: 10px;
}

.BiblioAut {
  color: rgb(39, 84, 145);
  font-size: 16px;
}

.BiblioAnne {
  color: #e3d80a;
  font-size: 12px;
  cursor: pointer;
}

.BiblioAnne:hover {
  color: rgb(253, 201, 0);
}

.BiblioDescrip {
  top: 30px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 11px;
}

.custom-dialog {
  width: 600px;
  height: 400px;
  margin: auto;
}
