.Icon {
  width: 100%;
  margin: 0;
  padding: 0;
}

.grid-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  gap: 10px; /* Ajoute un espace entre les éléments */
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.subgrid-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* .subgrid-item h2 {
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 2;
  color: #000;
  margin: 0;
} */

.subgrid-item p {
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 2;
  color: gray;
  text-align: start;
}

.suit{
  color: #e3d80a;
  font-size: 16px;
  cursor: pointer;
  margin-top: auto; /* Place l'élément en bas */
}

.ImgIcon {
  width: 70px;
  margin-bottom: 10px; /* Ajoute un espace en dessous de l'image */
}
