/* accueil.css */
.slide-title {
  position: absolute; /* Position the text relative to its parent */
  top: -200px; /* Position the text vertically at 50% of its parent */
  animation: slideFromLeft 1s ease-in-out forwards,
    centerText 1s ease-in-out forwards;
}
.slide-title {
  color: rgb(39, 84, 145);
  font-size: 60px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes centerText {
  0% {
    opacity: 0;
    transform: translateY(-50%) translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) translateX(0%); /* Adjust horizontal position */
  }
}