/* ajouterevenement.css */

.DomaineAjouter {
    width: 100%;
    margin: 0;
    padding: 0;
}

.DomaineAjouterContainer {
    width: 50%;
    margin: 30px auto;
    border-top: solid 1px gray;

 
}

.DomaineAjouterContainer label {
    width: 50%;
    margin: 30px auto;
}

.DomaineAjouterContainer textarea {
    width: 70%;
    height: 50px;
    margin: 0 auto;
}

.addDomaine {
display: flex;  
  margin: 10px auto;
  gap: 10px;
}
