/* BarheaderAdmin.css */
.NavbarAdmin{
    width: 100%;
}
.barheaderAdmin {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .barheaderContainer {
    height: 50px;
    background-color: #275491;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    color: #e3d80a;
    padding-right: 50px;
    gap: 5PX;
  }
  
  .iconCompte {
    font-size: 24px; /* Taille de l'icône */
    margin-right: 10px; /* Espacement à droite de l'icône */
   
  }
  
  .barheadericon {
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #e3d80a;
    font-size: 18px; /* Taille du texte */
    font-weight: 400;
  }
  