
.Login {
    font-family: 'Times New Roman', Times, serif;
    background-color: #0B355C;
    position: relative;
    margin: 0;
    padding: 0;
    height: 659PX;

 }
.containe {
    background-color: #FFF;
    width: 500px;
    height: 400px;
    padding: 10px;
    position: relative;
    left: calc(50vw - 250px); /* Centrer horizontalement */
    top: calc(50vh - 200px); /* Centrer verticalement */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.containe form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.title {
    display: block;
    color: #333;
    text-align: start;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    cursor: default;
}

.inputadmin {
    width: 100%;
    font-size: 15px;
    height: 40px;
    margin-bottom: 10px;
 

    border-color: #b2bfc7;
    padding-left: 12px;
}

.mdpoublie {
    color: #8894A9;
    text-align: end;
    font-size: 16px;
    font-weight: 400;
    cursor: default;
}

.clear {
    clear: both;
}

.loginAdmin {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.loginAdmin:hover {
    background-color: #45a049;
}

@media (max-width: 767px) {
    .containe {
        width: 300px; /* ou une autre valeur appropriée */
        left: 10vw; /* Ajustez la position horizontale selon vos besoins */
        top: 5vh; /* Ajustez la position verticale selon vos besoins */
    }
}
