

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.ImagePlatformeVedio {
  position: relative;
  text-align: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Vedio-Titre {
  width: 70%;
  font-size: 3.75rem; 
  color: white;
  margin: 0 auto;
  line-height: 1.5;
  animation: fadeIn 1s ease-in-out;
  font-weight: 300;

}
.videoCoach{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
}
.videoCoachContainer{
    width: 80%;
    margin: 0 auto;
}
.videoTitre{
    padding-top: 40px;
    padding-bottom: 40px;

    color: rgb(39, 84, 145);
    font-size: 32px;
    font-weight: 300 ;
    line-height: 38.4px;
    text-align: left;
}

.video-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
  
 



.info-item{
  padding: 2px;
  font-size: 14px;
  margin: 2px;
  border: none;
border-radius: 5%;
  color: #fff;

}
.TitreVideo {

  color: rgb(39, 84, 145);
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
}

.ImageVideo {
  position: relative;
  width: 500px;
  height: 300px;
}

.iconVideo {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #e3d80a;
  opacity: 0.8;  ;
}
.Partage{
  color: rgb(227, 216, 10);
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  margin: 20px;
}

