.ConsultCochVisib {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .ConsultCochVisibContainer {
    width: 80%;
    margin: 0 auto;
  }
  
  .TableCochVisib {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
  
  .TableHeaderC {
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(128, 128, 128);
  }
  
  .TableDataC {
    padding: 8px;
    font-weight: 300;
    font-size: 12PX;
    color: rgb(128, 128, 128);

  }
  

  
  .TableDataimgC {
    width: 100px;
  }
  
  .TableDataText {
    white-space: pre-line;
    text-align: start;
  }
  
  .DataAct {
    display: flex;
    
  }
  
  .IconData {
    /* margin:  0 20px; */

    font-size: 20px;
    color: black;
  }
  
  .IconSend {
    /* margin:  0 20px; */

    font-size: 20px;
    color: black;
  }
  