.workshop {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.workshopContainer {
    width: 80%;
    margin: 0px auto;
    padding: 40px;
    border-radius: 8px;
}

/* .workshopContainer button {
    background-color: #0C4270;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;

} */

.workshopContainer button:hover {
    background-color: #0C4270;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}



td img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto;
    border-radius: 4px;
}


