.Temaignage{
    width: 100%;
    margin: 0;
    padding: 0;
}
.Temaignage-container {
    width: 80%;
   display: flex;
   /* align-items: center;
   justify-content: space-around; */
   gap: 50PX;
   background: #fff;
   font-family: "Rubik", arial, sans-serif;
   font-weight: 300;
   font-size: 18px;
   line-height: 2;
   color: gray;
   margin: 120px auto;
  }
     .heading {
        max-width: 50%;
        margin-bottom: 0px;
    }
    .titreTemoignage{
        font-size: 45px;
    margin: 0;
    padding: 0;
    color: #275491;
    }
    .text{
        text-align: justify;
        font-size: 18px;

    }
    .Temaignage-image{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

    }
    .Temaignage-image .icon-play{

        position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #e3d80a;
  ;
    }
    /* .Temaignage-image button{
        width: 80%;
    padding: 10px 20px;
    background-color: #275491;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    margin: 20px 130px  ;

    } */
 /* .Temaignage-container .play-button button{
  width: 80%;
  padding: 10px 20px;
  background-color: #275491;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  margin: 20px 0px  ;

 } */
  
  
  /* .button:hover {
    background-color: #0261c7; 
  } */

   
.Temaignage-image h3 {

    color: blue;
    font-size: 18px;
    padding: 10px;
    font-weight: 300;
}

.modalBaghroundTemoignage {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; 
    margin: 0;
    padding: 0;
  
  }
  
  .modaltemoignageContainer {
    width: 50%;
    height: 500px;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
  overflow-y: auto;
  
  }
  
  
  
.editorContainer {
  width: 80%;
  margin: 50px auto;
}

/* input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

.editor {
    width: 100%;

  border: 1px solid #ccc;
  border-radius: 4px;
}
 .addTemoign{
display: block;
margin: 20px auto;
    background-color: rgb(39, 84, 145);
    color: #fff;
    border-radius: 10px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
 }