.ConsultArtInvisib {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .ArtInvContainer {
    width: 80%;
    margin: 0 auto;
  }
  
  .buttonAccueil {
    width: 50%;
    height: 50px;
    display: block;
    margin: 40px auto;
    background-color: #0d345a;
    font-weight: bold;
    padding: 10px 100px;
    text-align: center;
    color: #e3d80a;
    cursor: pointer;
    line-height: 32px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .buttonAccueil:hover {
    color: #fdc900;
  }
  
  .TableArtInvisib {
    width: 100%;
    text-align: center;
    margin: 40px 0 200px 0;
    border-collapse: collapse; 
    border: 1px solid #ccc; 
}
.TableHeader, .TableData {
  border: 1px solid #ccc; /* Cell borders */
  padding: 8px;
}
  .TableHeader {
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(128, 128, 128);
  }

  .TableData {
    padding: 8px;
  }

  .TableDataimg {
    width: 100px;
  }

 
  
  
  .IconData {
    margin:  0 20px;

    font-size: 20px;
    color: black;

  }
  