.vedioCoach{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
}
.vedioCoachContainer{
    width: 80%;
    margin: 0 auto;
}
.vedioTitre{
    padding-top: 40px;
    padding-bottom: 40px;

    color: rgb(39, 84, 145);
    font-size: 32px;
    font-weight: 300 ;
    line-height: 38.4px;
    text-align: left;
}

.video-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  /* .video-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: left;
    background-color: #fff;
  }
  
  .video-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .video-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
 
  
  .video-card h3:hover {
    text-decoration: underline;
  } */
