/* ajouterevenement.css */

.videoAjouter {
    width: 100%;
    margin: 0;
    padding: 0;
}

.videoAjouterContainer {
    width: 80%;
    margin: 0 auto;
 
}

.videoAjouterContainer label {
    margin: 5px;
}

.videoAjouterContainer .styleinput {
    width: 56%;
    box-sizing: border-box;
    margin: 5px 0;
    height: 40px;
}

.videoAjouterContainer input[type="file"] {
    height: auto;
}


