@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.ImagePlatforme {
  width: 100%;
  padding: 0;
  margin: 0;
}
.FORMECOACH{
  width: 80%;
  margin: 0 auto;
}
.coach_Titre {
  width: 100%;
  font-size: 40px;
  color: white;
  /* margin: 0 auto; */
  line-height: 1.2;
  animation: fadeIn 1s ease-in-out;
  font-weight: 300;
}

.fieldsCOACH{
  width: 100%;
  background-color: #fefefe;
  padding:  10px 20px;
  display: flex;
  position: relative;
}
.formulairecoach{
  width: 100%;
  display: flex;
  color: #999;
padding: 0; 
 font-size: 2rem;
  font-weight: 300;
}
.remplirFormulaire {
  padding: 25px 70px;
  background-color: #275491;
  color: #fff;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  font-size: 16px;
  margin: 0px auto;
}
.remplirArticle {
  width: 50%;
  height: 70px;
  background-color: #275491;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  font-weight: 300;
}
.ARTICLEright{
  width: 50%;
  margin: 0 auto;
}
.AddArticle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0;
}

.ParcourArticle {
  background: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: #275491;
}
.ContainerArticle {
  position: relative;
  display: inline-block;
}

.ContainerArticle img {
  height: 300px;
}

.icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: yellow;
  font-size: 50px;
}
@media (max-width: 950px) {
  .formulairecoach{
display: flex;
flex-direction: column;

  }
}
@media (max-width: 816px) {
  .AddArticle{
display: flex;
flex-direction: column-reverse;
gap: 20px;

  }
}